<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <ol>
        <li>
            <a href="/page/rsa">RSA Encryption/Decryption</a>
        </li>
        <li>
            <a href="/page/elgamal">Elgamal Encryption/Decryption</a>
        </li>
        <li>
            <a href="/page/dh">Diffie-Hellman Key Exchange</a>
        </li>
        <li>
            <a href="/page/re_encryption">Elgamal Re-Encryption</a>
        </li>
        <li>
            <a href="/page/universal">Universal ElGamal Re-Encryption</a>
        </li>
    </ol>
</body>
</html>